@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
:root {
  --black: #303030;
  --blue: #0c70f2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
#menuPrincipal {
  background-color: var(--black);
  justify-content: space-between;
  padding: 10px 10%;
  border-bottom: 1px solid #bababa;
}
#menuPrincipal a {
  padding: 15px 10px;
  margin: 10px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}
#menuPrincipal a:hover {
  background-color: #535353;
  transition: 0.5s;
}

.btn {
  font-size: 16px;
  padding: 5px 15px;
  background-color: var(--blue);
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25);
}
.btn:hover {
  background-color: #2d83f3;
  transition: 0.5s;
}

#hero {
  flex-direction: column;
  height: 75vh;
  text-align: center;
  color: white;
  padding: 0 20%;
  background: linear-gradient(180deg, #0c70f2 22%, #303030 80%);
  background-repeat: no-repeat;
}
#hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
#hero h2 {
  font-size: 22px;
  font-weight: 400;
}
#hero .hero__paragraph-decor {
  background-color: #303030;
}
#forms {
  padding: 0 35% 60px 35%;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: var(--black);
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.form-group label {
  margin-bottom: 10px;
}
.form-group input {
  height: 40px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: rgb(231, 229, 229);
}
.form-group input::placeholder {
  color: #44444491;
}

.checkbox-itens input {
  margin-right: 10px;
}
.checkbox-itens label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.checkbox-itens input[type="checkbox"] {
  transform: scale(1.4);
}
/*FOOTER*/
#footer {
  background-color: var(--blue);
  padding: 40px 10%;
  color: white;
  text-align: center;
  flex-direction: column;
}
#footer a {
  font-size: 14px;
  color: white;
  text-decoration: none;
  align-items: center;
}
#footer a:hover {
  color: rgb(207, 206, 206);
  transition: 0.5s;
}
#footer li {
  list-style: none;
  margin: 10px 0;
}
#footer h5 {
  background-color: var(--black);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}
.footer__menu-adress {
  justify-content: space-between;
  margin-bottom: 20px;
}
.menu-adress__about {
  height: 206px;
}
.menu-adress__adress {
  width: 30%;
}
@media screen and (max-width: 768px) {
  #menuPrincipal {
    flex-direction: column;
  }
  #menuPrincipal a {
    text-align: center;
    display: block;
  }
  #hero {
    padding: 0 10%;
  }
  #hero h1 {
    font-size: 32px;
  }
  #hero h2 {
    font-size: 18px;
  }
  #forms {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 0 40px 0;
  }
  .form-group:nth-child(3) {
    width: 100%;
  }

  .form-group:nth-child(6) {
    margin: 0 0 20px 0;
    width: 65%;
  }
  .form-group {
    text-align: center;
    margin-right: 10px;
  }
  #forms button {
    width: 65%;
  }
  .checkbox-itens label {
    margin: 0;
  }
  .checkbox-itens input {
    margin-left: 10px;
  }
  .footer__menu-adress {
    flex-direction: column;
  }
  .menu-adress__formation {
    margin-bottom: 20px;
  }
  .menu-adress__adress {
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  .checkbox-itens {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
