@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
:root {
  --black: #303030;
  --blue: #0c70f2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background: linear-gradient(180deg, #0c70f2 22%, #303030 80%);
  background-repeat: no-repeat;
}
#menuPrincipal {
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  border-bottom: 1px solid #bababa;
}
#menuPrincipal a {
  padding: 15px 10px;
  margin: 10px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}
#menuPrincipal a:hover {
  background-color: #535353;
  transition: 0.5s;
}
#menuPrincipal button {
  font-size: 16px;
  padding: 5px 15px;
  background-color: var(--blue);
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25);
}
#menuPrincipal button:hover {
  background-color: #2d83f3;
  transition: 0.5s;
}
#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  text-align: center;
  color: white;
  padding: 0 20%;
}
#hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
#hero h2 {
  font-size: 22px;
  font-weight: 400;
}
#hero .hero__paragraph-decor {
  background-color: #303030;
}
